@model Web2T.Models.Account

@{
    ViewData["Title"] = "Chỉnh sửa thông tin tài khoản: " + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    <h4>Thay đổi thông tin tài khoản quản trị</h4>
    <div class="m-t-25" style="max-width: 700px">
        <form asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@Model.AccountId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Họ và tên</label>
                    <input type="text" class="form-control" asp-for="FullName" placeholder="Họ và tên">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Số điện thoại</label>
                    <input type="tel" class="form-control" asp-for="Phone" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Mật khẩu</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Mật khẩu">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Quyền truy cập</label>
                    <select class="form-control" asp-for="RoleId" asp-items="@ViewBag.QuyenTruyCap" required>
                        <option value="0" disabled selected>Chọn quyền truy cập</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="Active" type="checkbox">
                    <label for="Active">Active</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Lưu thông tin</button>
        </form>
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

