@model Web2T.Models.Customer

@{
    ViewData["Title"] = "Chỉnh sửa thông tin khách hàng: " + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    <h4>Chỉnh sửa thông tin khách hàng</h4>
    <div class="m-t-25" style="max-width: 700px">
        <form asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@Model.CustomerId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFullname">Họ và tên khách hàng</label>
                    <input type="text" class="form-control" asp-for="FullName" placeholder="Họ và tên">
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="">Sinh nhật</label>
                    <div class="input-affix m-b-10">
                        <i class="prefix-icon anticon anticon-calendar"></i>
                        <input type="text" class="form-control datepicker-input" placeholder="Chọn ngày sinh nhật" asp-for="Birthday">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPhone">Số điện thoại</label>
                    <input type="tel" class="form-control" asp-for="Phone" placeholder="Số điện thoại">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="Address" placeholder="Địa chỉ">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputPassword">Mật khẩu</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Mật khẩu">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="Active" type="checkbox">
                    <label for="Active">Active</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Lưu thông tin</button>
        </form>
    </div>

</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/Adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.datepicker-input').datepicker();
        });
    </script>
}

